
// SLACK_API BOT
SLACK_APP_TOKEN=YOUR_SLACK_APP_TOKEN
SLACK_BOT_TOKEN=YOUR_SLACK_BOT_TOKEN
SLACK_CHANNEL_BOT=
SLACK_ADMIN_USER=

// GOOGLE_FORM
GOOGLE_FORM_ID=

// GOOGLE_FORM LIST
GOOGLE_FORM_INPUT_NAME=ENTRY.ID
