// SLACK_API BOT
SLACK_APP_TOKEN=YOUR_SLACK_APP_TOKEN
SLACK_BOT_TOKEN=YOUR_SLACK_BOT_TOKEN
SLACK_ADMIN_USER=

// BDD SQLITE3
DATABASE_NAME = "sqlite"

// GOOGLE_FORM
GOOGLE_FORM_ID=

// GOOGLE_FORM LIST
GOOGLE_FORM_INPUT_NAME=
GOOGLE_FORM_INPUT_HORODATEUR=
GOOGLE_FORM_INPUT_PERIODE=
GOOGLE_FORM_INPUT_PRESENCE=
GOOGLE_FORM_INPUT_COMPETENCE=
GOOGLE_FORM_INPUT_NOTE=